<div id="main-container" class="container text-center d-flex h-75 m-auto">
    <div id="loading-view" class=" m-auto d-flex">
        <h1>    
            <i class="bi bi-emoji-frown"></i>
            Something wrong... 
        </h1>
    </div>
</div>