<div class="row m-3">
    <div class="col-11  text-black">
        <a href="/home" class=" link-underline link-underline-opacity-0 ">

            <h1 class="text-black"> <i class="bi bi-broadcast-pin"></i> File Share</h1>
        </a>
    </div>
    <div class="col-1 text-black text-center">
        {{#if support}}
        <button id="btn-create-room" class="btn btn-outline-secondary">
            <h6><small>
                    <div class="d-lg-none">+</div>
                    <div class="d-none d-lg-block">Create Room</div>
                </small></h6>
        </button>
        {{/if}}
    </div>
</div>